<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/searchresults.css' />

<% if(searchQuery !== ""){%>
  <h1>Search results for "<%= searchQuery %>"</h1>
  <div class="songs-container">
    <% songs.forEach(song => { %>
      <div id="songs">
      <h3><%= song.title %></h3>
      <img id="cover" src="<%= song.album.cover_big %>">
      <br>
      <a href="/songs/<%=song.id%>">Details</a> 
    </div>
    <% }); %>

</div>
<%} else {%>
  <h1>No Songs Found</h1>
  <%}%>



<%- include('../partials/footer') %>