<%- include('../partials/header') %>
<% songs.forEach(song => { %>
  <h3><%= song.name %></h3>
  <img id="cover" src="<%= song.cover %>">
  <br>
  <a href="/songs/<%=song._id%>">Details</a> 
<% }); %>
<%- include('../partials/footer') %>