<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/playlists.css' />

<% if(user) {%>
<h1>Edit Playlist</h1>
<div class="edit-playlist"> 
  <form action="/<%= select._id %>?_method=PUT" method="POST">
    <label>Name</label>
    <input class="edit-text-box" type="text"name="name" value="<%= select.name%>">
    <br>
    <label>Description</label>
    <input class="edit-text-box" type="text"name="description" value="<%= select.description%>">
    <br>
    <label>Public</label>
    <input type="checkbox" name="public" <%= select.public? 'Checked': ''%>>
    <button class="update-btn" type="submit">Update playlist</button>
  </form>
</div>
<% } %>
<%- include("../partials/footer") %>