<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/searchresults.css' />

<div class="songs-container">
  <form id="search-song-form"  action="/new" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Description:</label>
    <input type="text" name="description">
    <br>
    <input  type="submit" value="Add Playlist">
  </form>
<br>

<div class="songs-container">
  <% userDetails.forEach(user => { %>
    <h3><%= user.name %></h3>
      <h3><%= playlist.description %></h3>
      <form action="/<%= playlist._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
      <form action="/<%= playlist._id %>" method="GET">
        <button type="submit">Update</button>
      </form>
    <br>
  </div>
  <% }); %>

<div class="songs-container">
<% allPlayLists.forEach(playlist => { %>
  <h3><%= playlist.name %></h3>
    <h3><%= playlist.description %></h3>
    <form action="/<%= playlist._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
    <form action="/<%= playlist._id %>" method="GET">
      <button type="submit">Update</button>
    </form>
  <br>
</div>
<% }); %>


</div>
<%- include('../partials/footer') %>

