<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/playlists.css' />
<% if (user) { %>
<div class="playlist-user-container">
  <div class="user-container">
    <img src="<%=user.avatar%>">
      <p> <%= user.name.toUpperCase() %></p>
      <p><%= user.playlists.length %> Playlists</p>
  </div>

  <div class="addPlaylist-container">
    <form id="search-song-form"  action="/new" method="POST">
      <h3>Add a Playlist</h3>
      <label>Name</label>
      <input class="addplaylist-text-box" type="text" name="name">
      <br>
      <label>Description</label>
      <input class="addplaylist-text-box" type="text" name="description">
      <br>
      <label>Public</label>
      <input type="checkbox" name="public"> 
      <input  class="add-playlist-btn" type="submit" value="Add Playlist">
      </form>
    </div>
  
</div>

<div class="playlist-container">
<% allPlayLists.forEach(playlist => { %>
    <h4><%= playlist.name %></h4>
    <p><%= playlist.description %></p>
    <p><%= playlist.public? 'Public':'Private' %></p>
    <form action="/view/<%= playlist._id %>" method="GET">
      <button class="add-playlist-btn" type="submit">View</button>
    </form>
    <br>
    <% }); %>
</div>
<% } %>
<%- include('../partials/footer') %>

