<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/playlists.css' />

<div class="playlist-user-container">
  <div class="user-container">
    <img src="<%=user.avatar%>">
      <p> <%= user.name.toUpperCase() %></p>
      <p><%= user.playlists.length %> Playlists</p>
  </div>

  <div class="addPlaylist-container">
    <form id="search-song-form"  action="/new" method="POST">
      <h3>Add a Playlist</h3>
      <label>Name:</label>
      <input type="text" name="name">
      <label>Description:</label>
      <input type="text" name="description">
      <input  id="add-playlist-btn" type="submit" value="Add Playlist">
      </form>
    </div>
  
</div>

  

<div class="playlist-container">
<% allPlayLists.forEach(playlist => { %>
  <h3><%= playlist.name %></h3>
    <h3><%= playlist.description %></h3>
    <form action="/view/<%= playlist._id %>" method="GET">
      <button type="submit">View</button>
    </form>
  <br>
<% }); %>
</div>
<%- include('../partials/footer') %>

