<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/publicplaylists.css'/>


<div id="playlist-container">
<% publicPlaylists.forEach(playlist => { %>
<div id="playlists">
    <h4><%= playlist.name %></h4>
  <% playlist.songs.forEach((song) => {%>
      <div id="song-container">
        <p><%= song.title%></p>
        <p><%= song.artist%></p>
        <img id="song-image" src="<%= song.cover%>">
      </div>
    <% })%>
  </div>
  <% }); %>
</div>

<%- include('../partials/footer') %>