<%- include("../partials/header") %>
<link rel='stylesheet' href='/stylesheets/view.css' />

<div class="page-container">
  <div class="playlist-details">
    <div class="playlist-header">
      <h1 class="playlist-name">Playlist title: <%= selectView.name %></h1>
      <div class="playlist-description">
        <p>Description: <%= selectView.description %></p>
      </div>
    </div>
    <div class="playlist-actions">
      <form action="/<%= selectView._id %>?_method=DELETE" method="POST" class="delete-form">
        <button type="submit" class="delete-button">Delete Playlist</button>
      </form>
      <form action="/<%= selectView._id %>" method="POST" class="update-form">
        <button type="submit" class="update-button">Edit Playlist Details</button>
      </form>
    </div>
  </div>
  
  <div class="songs-container">
    <% selectView.songs?.forEach((song) => { %>
      <div class="song-item">
        <div class="song-cover">
          <img src="<%= song.cover %>">
        </div>
        <div class="song-details">
          <div class="song-name"><%= song.title %></div>
          <div class="song-artist"><%= song.artist %></div>
        </div>
        <form action="/<%= selectView._id %>/<%= song._id %>?_method=DELETE" method="POST" class="remove-song-form">
          <button type="submit" class="remove-song-button">Remove from Playlist</button>
        </form>
      </div>
    <% }) %>
  </div>
</div>

<%- include("../partials/footer") %>
